-e git+https://github.com/maparent/pyodbc.git@v4-virtuoso#egg=pyodbc
-e git+https://github.com/conversence/sqlalchemy-rdfbridge.git#egg=sqlalchemy-rdfbridge
SQLAlchemy>=0.9
rdflib>=3
werkzeug>=0.11
future>=0.15
